
SUPABASE_URL=https://pntvdjuarchbkbzordyw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBudHZkanVhcmNoYmtiem9yZHl3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDM2OTIxOSwiZXhwIjoyMDk1OTQ1MjE5fQ.9ZMcu_2ilcCGtuYTS6bktpfTG_gcGUs7dCV0frXeb2Q
CLOUDINARY_CLOUD_NAME=dn7sbid1f
CLOUDINARY_API_KEY=162551499459428
CLOUDINARY_API_SECRET=BAomdVDhr60b3jGf2yWSLtV_9Tg
ADMIN_PASSWORD_HASH=bc7bc36014694a7924a36606698c59e7aaecd60c8d64fdae560c8d1d7ac18669
JWT_SECRET=e64f3dc28c2bd2f03ee2633aee2522702a6de750125f22b7ca2c9049089eae01ae2c82fa331bb46d4858947178399cf072381bf07ccac64713996c7443663600
JWT_EXPIRES_IN=24h
PORT=3000
NODE_ENV=production
ALLOWED_ORIGINS=https://pentaminds.in,https://www.pentaminds.in,https://team.pentaminds.in,http://localhost:3000
